
<div class="position-relative text-center mb-5 bg-dark text-white pt-5 d-flex justify-content-center align-items-center"
    style="min-height: 350px; overflow: hidden;">

    <!-- Capa de fondo con imagen, opacidad y blur -->
    <div style="
    background-image: url('assets/banner4.png');
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    opacity: 0.5;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 0;">
    </div>

    <!-- Contenido (texto) sobre la imagen -->
    <div style="position: relative; z-index: 1;">
        <h1 class="display-4 fw-bold text-white" style="text-shadow: 2px 2px 6px rgba(0,0,0,0.8);">
            Práctica #5: Pantalla perritos
        </h1>
        <p class="lead text-white" style="text-shadow: 1px 1px 4px rgba(0,0,0,0.7);">
            En este espacio podremos apreciar imagenes de perros provenientes de la API Dog CEO.
        </p>
    </div>
</div>

<!-- app.component.html -->
<!-- <div *ngIf="imagenPerrito">
  <img [src]="imagenPerrito" alt="Perrito aleatorio" />
</div>

<button (click)="obtenerImagenPerrito()">Obtener otro perrito 🐶</button> -->

<div class="container d-flex justify-content-center align-items-center my-5">
  <div class="text-center p-3">
    <h2 class="mb-2">¡Elije tu nueva mascota! 🐾</h2>

    <div *ngIf="imagenPerrito" class="card card-hover text-secondary p-3 rounded-4 shadow border-0 d-flex flex-column justify-content-center align-items-center" style="width: 22rem;">
      <img [src]="imagenPerrito" alt="Perrito aleatorio" class="card-img-top rounded img-fluid mb-3" />
      <div class="card-body p-0">
        <h5 class="card-title mb-2">{{ nombrePerrito }}</h5>
        <p class="card-text mb-2">
          <strong>Edad:</strong> {{ edadPerrito }} años<br />
          <strong>Raza:</strong> {{ razaPerrito }}
        </p>
      </div>
      <button class="btn btn-primary mt-2" (click)="obtenerImagenPerrito()">Mostrar otro perrito 🐶</button>
    </div>
  </div>
</div>



