:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto; /* Ocupa todo el espacio disponible excepto el footer */
}

app-footer {
  flex-shrink: 0; /* Evita que el footer se reduzca */
}
