html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-root {
  flex: 1 0 auto; /* Este es el contenedor principal Angular */
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto; /* El contenido principal debe crecer para llenar el espacio */
}

footer {
  flex-shrink: 0; /* El footer no se encoge */
}
