.navbar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  color: #000000d2;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #dd0031, #a100ff); /* color azul bootstrap */
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover {
  color: linear-gradient(to right, #dd0031, #a100ff);
  transform: translateY(-2px);
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active {
  color: linear-gradient(to right, #dd0031, #a100ff);
  font-weight: 700;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
